<div class="planet-grid-container">
    <div
        *ngFor="let p of view; trackBy: trackById"
        class="card-container"
        [routerLink]="['/planets', p.id]"
        style="cursor: pointer"
    >
        <div class="card-img-container">
            <img
                *ngIf="p.imageUrl"
                [src]="p.imageUrl"
                alt="no-image"
                class="card-img"
            />
        </div>
        <div class="card-title">
            {{ p.planetName }}
        </div>

        <div class="card-description" *ngIf="p.description">
            {{ p.description }}
        </div>

        <div class="card-content-filters">
            <div class="row">
                <div class="col">
                    <span class="col-info">{{ p.planetColor }}</span>
                    <span class="col-label">Color:</span>
                </div>
                <div class="col">
                    <span class="col-info">
                        {{ p.distInMillionsKM?.fromSun }}</span
                    >
                    <span class="col-label">Dist. from Sun</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="col-info"> {{ p.planetRadiusKM }} </span>
                    <span class="col-label">Radius</span>
                </div>
                <div class="col">
                    <span class="col-info">
                        {{ p.distInMillionsKM?.fromEarth }}
                    </span>
                    <span class="col-label">Dist. from Earth</span>
                </div>
            </div>
        </div>
    </div>
</div>
