@use "colors" as *;

.planet-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 12px;

    .card-container {
        background-color: $primary-white;
        border: 1px solid $primary-white;
        border-radius: 12px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .card-title {
            color: $primary-dark-gray;
            padding: 20px 0px;

            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 0%;
            text-align: center;
        }

        .card-description {
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            color: $primary-light-gray;
            padding: 20px 0px;
        }

        .card-img-container {
            display: flex;
            justify-content: center;

            .card-img {
                width: 80px;
                height: 80px;
            }
        }
        .card-content-filters {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .row {
                display: flex;
                gap: 10px;
                width: 100%;
                justify-content: space-between;

                .col {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .col-info {
                        font-family: Inter;
                        font-weight: 600;
                        font-style: Semi Bold;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0%;
                        color: $primary-dark-gray;
                    }

                    .col-label {
                        font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0%;
                        color: $primary-light-gray;
                    }
                }
            }
        }
    }
}
