<dialog #dlg class="dlg">
    <div class="dialog-content-container">
        <h3 class="dialog-title">
            {{ mode === "create" ? "New Planet" : "Edit Planet" }}
        </h3>

        <form (submit)="submit($event)" class="dialog-form">
            <div class="row-image-container">
                <label class="row-label">Photo</label>

                <label class="custom-file-upload">
                    Browse...
                    <input
                        class="row-input"
                        type="file"
                        (change)="onFileSelected($event)"
                        accept="image/*"
                    />
                </label>
            </div>

            <label class="row-label">Name</label>
            <input
                [(ngModel)]="model.planetName"
                name="planetName"
                class="row-input"
                required
            />

            <label class="row-label">Description</label>
            <textarea
                [(ngModel)]="model.description"
                name="description"
                class="row-input"
            ></textarea>

            <div class="row">
                <div class="col">
                    <label class="row-label">Radius (km)</label>
                    <input
                        class="row-input"
                        type="number"
                        [(ngModel)]="model.planetRadiusKM"
                        name="radius"
                    />
                </div>

                <div class="col">
                    <label class="row-label">Color</label>
                    <input
                        class="row-input"
                        [(ngModel)]="model.planetColor"
                        name="color"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="row-label">Distance from Sun (km)</label>
                    <input
                        class="row-input"
                        type="number"
                        [(ngModel)]="model.distInMillionsKM!.fromSun"
                        name="sun"
                    />
                </div>

                <div class="col">
                    <label class="row-label">Distance from Earth (km)</label>
                    <input
                        class="row-input"
                        type="number"
                        [(ngModel)]="model.distInMillionsKM!.fromEarth"
                        name="earth"
                    />
                </div>
            </div>

            <div class="actions">
                <button class="action-button button-confirm" type="submit">
                    {{ mode === "create" ? "Create" : "Save" }}
                </button>
                <button
                    class="action-button button-cancel"
                    type="button"
                    (click)="cancel()"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</dialog>
<app-confirm-dialog #confirmDlg></app-confirm-dialog>
