<table class="table-container">
    <colgroup>
        <col class="col-name" />
        <col class="col-color" />
        <col class="col-radius" />
        <col class="col-sun" />
        <col class="col-earth" />
    </colgroup>

    <thead>
        <tr>
            <th (click)="onSort('planetName')">Name</th>
            <th (click)="onSort('planetColor')">Color</th>
            <th (click)="onSort('planetRadiusKM')">Radius (km)</th>
            <th (click)="onSort('distInMillionsKM.fromSun')">
                Dist. from Sun (km)
            </th>
            <th (click)="onSort('distInMillionsKM.fromEarth')">
                Dist. from Earth (km)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let p of view; trackBy: trackPlanet"
            [routerLink]="['/planets', p.id]"
            class="table-planet-row"
        >
            <td class="name-cell">
                <img
                    *ngIf="p.imageUrl"
                    [src]="p.imageUrl"
                    alt=""
                    class="planet-image"
                />
                <div class="name-desc">
                    <div class="title">{{ p.planetName }}</div>
                    <div class="desc" *ngIf="p.description">
                        {{ p.description }}
                    </div>
                </div>
            </td>

            <td class="table-plane-cell">
                {{ p.planetColor }}
            </td>

            <td class="table-plane-cell">
                {{ p.planetRadiusKM }}
            </td>

            <td class="table-plane-cell">
                {{ p.distInMillionsKM?.fromSun }}
            </td>

            <td class="table-plane-cell">
                {{ p.distInMillionsKM?.fromEarth }}
            </td>
        </tr>
    </tbody>
</table>
