.dialog-container {
    border: none;
    border-radius: 12px;
    padding: 16px;
    max-width: 420px;
    width: 100%;
    background: red;

    .dialog-title {
        background: orange;
        margin-top: 0;
    }

    .dialog-planet-name {
        width: 100%;
        margin: 6px 0 12px;
        background: pink;
    }

    .dialog-planet-radius {
        width: 100%;
        margin: 6px 0 16px;
        background: green;
    }

    .dialog-buttons {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        background: yellow;
    }
}
