$primary-dark-blue: #011f49;
$primary-light-gray: #595f60;
$primary-white: #fff;
$primary-dark-gray: #242626;
$primary-purple: #4c396f;
$primary-light-blue: #d0dce1;

$secondary-light-gray: #bdbfbf;
$secondary-light-blue: #eceff4;
$secondary-dark-blue: #125169;

$tertiary-light-gray: #7a7f80;

$quaternary-light-gray: #dedfdf;
